# Project-specific
SECRET_KEY
thetower.egg-info
data
db.sqlite3*
uploads
results_cache
backups
unrelated_scripts
thetower/backend/uploads_500*
Tower_Relics/
Tower_Skins/
try_tesseract
htmx_components/
secrets
/.vscode
.aider*
.env

# Log files
*.log
app.log

# Python egg-info directories
*.egg-info/

# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Custom bytecode cache location
.cache/

# Generated version file
src/thetower/_version.py

# Virtual Environment
.venv/
env/
venv/
ENV/
thetower.lol.code-workspace
include_shun.json
