# for the main streamlit app
streamlit==1.47.0
streamlit-extras==0.6.0
requests==2.32.4
pandas==2.3.1
pydantic==2.11.7
asyncstdlib==3.13.1

# plots
plotly==6.2.0
statsmodels==0.14.5
seaborn==0.13.2

# for the db and django
Django==5.2.4
django-extensions==4.1
django-simple-history==3.10.1
djangorestframework==3.16.0
whitenoise==6.9.0
django-colorfield==0.14.0
django-axes==8.0.0
pretty-html-table==0.9.16
anthropic==0.58.2
pyarrow==21.0.0

# fish bot
discord.py==2.5.2
easyocr==1.7.2
psutil==7.0.0

# testing
pytest==8.4.1
pytest-django==4.11.1
pytest-sugar==1.0.0

# stuff
tqdm==4.67.1
natsort==8.4.0
schedule==1.2.2
pip-upgrader==1.4.15
